<!doctype html>
<html ng-app="timer">
	<head>
		<title>Tiny Timer</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/png" href="favicon.png" />
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	</head>
	<body>
		<h1 class="text-center">Tiny Timer ng</h1>
		<div class="container" ng-controller="TimerController as timerCtrl">
			<div ng-repeat="timer in timerCtrl.timers">
				<div class="row">
				
					<div class="col-sm-2 text-center">{{timer.formattedSeconds}}</div>
					<div class="col-sm-2">
						<a href class="btn btn-default btn-block" role="button" ng-click="timer.startTimer()">Start</a>
					</div>
					<div class="col-sm-2">
						<a href class="btn btn-default btn-block" role="button" ng-click="timer.stopTimer()">Stop</a>
					</div>
					<div class="col-sm-2">
						<a href class="btn btn-default btn-block" role="button" ng-click="timer.resetTimer()">Reset</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 text-center">{{timer.formattedAlarmSeconds}}</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button">H+</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button">H-</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button">M+</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button">M-</a>
					</div><div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button">S+</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button">S-</a>
					</div>
				</div>
			</div>
		</div>
	
		<!--Scripts-->
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="timer.js"></script>
	</body>
</html>