<!doctype html>
<html ng-app="timer">
	<head>
		<title>Tiny Timer</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/png" href="favicon.png" />
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<h1 class="text-center">Tiny Timer ng</h1>
		<div class="container" ng-controller="AppController as appCtrl">
			<div ng-repeat="timer in appCtrl.timers" ng-controller="TimerController as timerCtrl">
				<div class="row">
				
					<div class="col-sm-2 text-center">{{timer.formattedSeconds}}</div>
					<div class="col-sm-2">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.startTimer()">Start</a>
					</div>
					<div class="col-sm-2">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.stopTimer()">Stop</a>
					</div>
					<div class="col-sm-2">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.resetTimer()">Reset</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 text-center" ng-class="{finished: timer.alarmEnabled && timer.seconds >= timer.alarmSeconds}">{{timer.formattedAlarmSeconds}}</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.adjustAlarm(3600)">Hour+</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.adjustAlarm(-3600)">Hour-</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.adjustAlarm(60)">Min+</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.adjustAlarm(-60)">Min-</a>
					</div><div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.adjustAlarm(1)">Sec+</a>
					</div>
					<div class="col-sm-1">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.adjustAlarm(-1)">Sec-</a>
					</div>
					<div class="col-sm-2">
						<a href class="btn btn-default btn-block" role="button" ng-click="timerCtrl.toggleAlarm()">{{timer.alarmEnabled ? "Alarm is ON" : "Alarm is OFF"}}</a>
					</div>
				</div>
			</div>
		</div>
	
		<!--Scripts-->
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="timer.js"></script>
	</body>
</html>